
body{
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(236, 236, 236);
    height: 100%;
    width: 100%;
}


header, .navbar{
    background-color: rgba(214, 214, 214, 0.315);
    z-index: 2;
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.maintext{
    color: rgb(59, 58, 58);
    font-size: 75px;
}

.white-text{
    background-color: whitesmoke;
    margin: auto;
    color: black;
}


.inline{
    display: inline;
}

.enlarge{
    width: 100%;
    height: 100%;
}
.yellow{
    color: yellow; 
    text-shadow: 2px 2px black;
}

h3.yellow{
    text-emphasis: bold;
}

[class*="col-"] {
    padding: 1rem;
}

.container{
    border: 2px solid black;
    padding: 5px 5px;
}

.block{
    display: block;
}

.card-title{
    color:salmon;
    text-align: center
}
.card-text{
    text-align:center
}
.card-body{
    color: gray
}

.divwrap{
    bottom: 25px;
    position: relative;
    margin: auto;

}

@media only screen and (max-width: 992px)
{
    .carousel-indicators{
        display: none;
    }    
}

.carousel-inner, .carousel-img {
    width: 100%;
    height: auto;
    max-height: 576px;
    border: 4px solid whitesmoke;
    border-radius: 2px;
}

.borDer {
    border-style: outset;
    border-color: darkblue;
    border-width: 2rem;
    
}

.bgdiv{
    background-image: url("img/fixedBack.jpeg");
    background-size:cover;
    background-attachment: fixed;
}
