.center{
    text-align: center;
    margin: auto;
}

body{
    font-family: 'Source Code Pro', monospace;
    background-color: gray;
    /* color: whitesmoke; */
    
}
.center h1{
    text-align: center;
}

header, .navbar{
    background-color: rgb(214, 214, 214);
    z-index: 2;
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.maintext{
    color: rgb(59, 58, 58);
    font-size: 75px;
}

.panel{
    background-color: whitesmoke;
    z-index: 2;
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/fixedBack.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }

.inline{
    display: inline;
}

.enlarge{
    width: 100%;
    height: 100%;
}
.yellow{
    color: yellow; 
    text-shadow: 2px 2px black;
}

h3.yellow{
    text-emphasis: bold;
}

.container{
    border: 2px solid black;
    padding: 5px 5px;
}

.card-title{
    color:salmon;
}
.card-body{
    color: gray
}

@media only screen and (max-width: 992px)
{
    .carousel-indicators{
        display: none;
    }    
}

.carousel-inner, .carousel-img {
    width: 100%;
    height: auto;
    max-height: 576px;
    border: 4px solid whitesmoke;
    border-radius: 2px;
}
